<div class="menu-bar">
    <div class="menu-left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToNqR-G9iOQ7wjL87HoWkI408J--ELicWOjw&s" alt="Tumbas" class="part-image">
    </div>
    <div class="menu-center">
        <nav class="menu">
            <ul>
                <li><a class="clHome" (click)="Ativacao(1,0); closeAllSubmenus()">Home</a></li>
                <li (click)="toggleSubmenu('artigo')" [class.active]="activeSubmenu === 'artigo'"><a class="clArtigo">Artigo</a>
                    <ul *ngIf="activeSubmenu === 'artigo' || isHoveringArtigo" (mouseenter)="isHoveringArtigo = true" (mouseleave)="isHoveringArtigo = false">
                        <li><a class="Art1" (click)="Ativacao(2,0); closeAllSubmenus()">Artigo 1</a></li>
                        <li><a class="Art2" (click)="Ativacao(2,1); closeAllSubmenus()">Artigo 2</a></li>
                        <li><a class="Art3" (click)="Ativacao(2,2); closeAllSubmenus()">Artigo 3</a></li>
                        <li><a class="Art4" (click)="Ativacao(2,3); closeAllSubmenus()">Artigo 4</a></li>
                        <li><a class="Art5" (click)="Ativacao(2,4); closeAllSubmenus()">Artigo 5</a></li>
                    </ul>
                </li>
                <li (click)="toggleSubmenu('solutions')" [class.active]="activeSubmenu === 'solutions'"><a class="clSolutions">Solutions</a>
                    <ul *ngIf="activeSubmenu === 'solutions' || isHoveringSolutions" (mouseenter)="isHoveringSolutions = true" (mouseleave)="isHoveringSolutions = false">
                        <li><a href="https://www.linkedin.com/in/giliano-gn-530071203" target="_blank" (click)="closeAllSubmenus()">Linkedin</a></li>
                        <li><a href="#" (click)="closeAllSubmenus()">Solutions 2</a></li>
                    </ul>
                </li>
                <li (click)="toggleSubmenu('learn')" [class.active]="activeSubmenu === 'learn'"><a class="clLearn">Learn</a>
                    <ul *ngIf="activeSubmenu === 'learn' || isHoveringLearn" (mouseenter)="isHoveringLearn = true" (mouseleave)="isHoveringLearn = false">
                        <li><a href="https://github.com/GilianoGN/App-Blog-Angular" target="_blank" (click)="closeAllSubmenus()">GitHub</a></li>
                        <li><a href="#" (click)="closeAllSubmenus()">Learn 2</a></li>
                    </ul>
                </li>
                <li><a class="clApres" (click)="Ativacao(3,0); closeAllSubmenus()">Apresentação</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-right">
        <button class="button-1">Log in</button>
        <button class="button-2">Get a Demo</button>
    </div>
</div>
<hr>