<div class="menu-bar">
    <div class="menu-left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToNqR-G9iOQ7wjL87HoWkI408J--ELicWOjw&s" alt="Tumbas" class="part-image">
    </div>
    <div class="menu-center">
        <nav class="menu">
            <ul>
                <li><a class="clHome"(click)="Ativacao(1,0)">Home</a></li>
                <li>Artigo
                    <ul>
                        <li><a class="Art1" (click)="Ativacao(2,1)">Artigo 1</a></li>
                        <li><a class="Art2" (click)="Ativacao(2,2)">Artigo 2</a></li>
                        <li><a class="Art3" (click)="Ativacao(2,3)">Artigo 3</a></li>
                        <li><a class="Art4" (click)="Ativacao(2,4)">Artigo 4</a></li>
                        <li><a class="Art5" (click)="Ativacao(2,5)">Artigo 5</a></li>
                    </ul>
                </li>
                <li>Solutions
                    <ul>
                        <li><a href="https://www.linkedin.com/in/giliano-gn-530071203">Linkedin</a></li>
                        <li><a href="#">Solutions 2</a></li>
                    </ul>
                </li>
                <li>Learn
                    <ul>
                        <li><a href="https://github.com/GilianoGN/App-Blog-Angular">GitHub</a></li>
                        <li><a href="#">Learn 2</a></li>
                    </ul>
                </li>
                <li><a class="clApres" (click)="Ativacao(3,0)">Apresentação</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-right">
        <button class="button-1">Log in</button>
        <button class="button-2">Get a Demo</button>
    </div>
</div>
<hr>

