<div class="menu-bar">
    <div class="menu-left">
        <img src="/src/assets/logo-tumbas3.jpg" alt="Tumbas" class="part-image">
        <!--<span class="part-title"> Tumbas</span> -->
    </div>
    <div class="menu-center">
        <nav class="menu">
            <ul>
                <li>Product
                    <ul>
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                        <li><a href="#">Product 4</a></li>
                    </ul>
                </li>
                <li>Solutions
                    <ul>
                        <li><a href="#">Solutions 1</a></li>
                        <li><a href="#">Solutions 2</a></li>
                        <li><a href="#">Solutions 3</a></li>
                        <li><a href="#">Solutions 4</a></li>
                    </ul>
                </li>
                <li>Learn
                    <ul>
                        <li><a href="#">Learn 1</a></li>
                        <li><a href="#">Learn 2</a></li>
                        <li><a href="#">Learn 3</a></li>
                        <li><a href="#">Learn 4</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-right">
        <button class="button-1">Log in</button>
        <button class="button-2">Get a Demo</button>
    </div>
</div>
<hr>

