<app-advertising-bar></app-advertising-bar>
<app-menu-bar></app-menu-bar>
<div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="Card Image" class="card-image">
    <div class="card-info">
        <div class="author-date">
            <a class="author">by Giliano G N</a>
            <a class="date">19 Mai 2025</a>
        </div>
        <h1 class="title">
            Beyond Transactions: Unlocking the Full Potential of Your POS System
        </h1>
        <p class="summary">
            In the realm of modern business operations, a Point of Sale (POS) system serves
            as more than just a t...
        </p>
    </div>
</div>