<div class="big-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="Sua Imagem">
    <div class="bigcard_artigos">
        <h2 class="sem-fundo">
            <span class="novo-read">
                <span class="texto-azul"> News! </span><a class="read-read">8 mins read</a>
            </span>
        </h2>
        <h1>
            Unlocking Efficiency: The Power Of A Modern POS System
        </h1>
        <p class="artigo">
            In today's fast-paced business landscape, efficiency is key to success. From
            small local shops to large-scale enterprises, businesses are constantly
            seeking ways to streamline their operations and enhance costomer experi...
        </p>
        <p href="#" class="read-more">Read more -></p>
    </div>
</div>
<hr>