.unicard-container {
  display: flex; /* Ativa o Flexbox para o container */
  flex-direction: row; /* Organiza os itens em linha (lado a lado) */
}

app-unicard {
  margin-right: 10px; /* Adiciona uma margem à direita de cada unicard */
}

.unicard-container app-unicard:last-child {
  margin-right: 0;
}